input, select, textarea{
    width: 99%;
    border:1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
    text-indent: 10px;
    text-transform: uppercase;
}
textarea{
    width: 100%;
    height: 150px;
}
.fieldInput{
    margin-bottom: 15px;
}
.fieldSubmit button{
    width:100%;
    height: 30px;
    background-color: brown;
    border:unset;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.34);
    color: #fff;
}