* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin-bottom: 40px;
    min-height: 100%;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 96%;
}

.right {
    float: right;
}

nav {
    width: 100%;
    background-color: dodgerblue;
    display: inline-block;
    height: 100px;
}

.logo {
    padding: 4px;
}

ul {
    float: right;
}

ul li {
    display: inline-block;
    padding: 0 30px;
}

ul li a {
    color: white;
    padding: 35px 30px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: 600;
    transition: 0;
    float: right;
    margin: 0 50px;
}

ul li a:hover{
    background-color: white;
    color: dodgerblue;
    transition: 0.3s ease-in-out;
}

nav .logo {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 20%;
    color: wheat;
}

.imagem {
    margin-left: 50px;
    display: inline-block;
    box-shadow: 0 0 5px 0 black;
}

.tag {
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    padding: 5px;
    float: left;
}

.noticia {
    text-align: justify;
    color: dodgerblue;
    font-size: 14px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 25px;
}

.noticia a {
    text-decoration: none;
}

.format2 {
    float: left;
    width: 32%;

}

hr {
    width: 70%;
    padding: 2px;
}

.paineis {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 20px;
}

footer {
    background-color: dodgerblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.info {
    width: 33%;
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    padding-bottom: 20px;
}

.version {
    display: inline-block;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
}

.linha {
    font-size: 15px; 
    text-decoration: none; 
    color: white; display: block; 
    margin-top: 4px; 
    font-weight: 500;
}

.empurra {
    width: 100%;
    height: 50px;
    clear: both;
}