@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.noticias article p {
    text-align: justify;
}

.noticias article h2, .noticias h4 {
    color: dodgerblue;
    border-left: 3px solid dodgerblue;
    border-bottom: 3px solid dodgerblue;
    font-family: 'Abril';
    background: url("../Newspaper-icon.png") left no-repeat;
    background-size: contain;
    padding-left: 45px;
}

.noticias article h4 {
    font-size: 14px;
    background: none;
    padding-left: 5px;
}